@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  color: #000;
}

canvas {
  margin: 0;
  padding: 0;
}

input {
  width: 200px;
  border: black solid 3px;
  border-radius: 5px;
}
